h1 Index

'questions:
- @questions.each do |question|
    h3 = link_to question.title, question

= link_to 'Ask question', new_question_path

p = link_to 'Log out', destroy_user_session_path, method: :delete
